@{
    ViewData["Title"] = "Burials";
}
<div class="text-center">
<h1 class="display-4">Burial Records</h1>
</div>

<audio controls="controls" id="audio" style="display:none;">
    <source src="~/lib/Indiana%20Jones.mp3" type="audio/mpeg" />
</audio>

<script>
    window.onload = function () {
        var audio = document.getElementById("audio");
        audio.play();
    };
</script>




<p>All records here:</p>
