@{
    ViewData["Title"] = "Home Page";
}

<!--GDPR cookie notification-->
<partial name="_CookieConsentPartial" />

<div class="text-center">
    <h1 class="display-4">Welcome to BYU's Fag El-Gamous</h1>
    <p></p>
</div>
