@{ ViewData["Title"] = "Wrap Prediction"; }
<style>
    .form-group{text-align:left !important}
</style>
<div class="text-center">
    <h1 class="display-4">Wrap Prediction Tool</h1>
    <br />
    <br />
    <h4>Enter in the following information to have a predicted wrapping returned.</h4>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <!--form for the user to enter in information to be fed to the API-->
                <form id="myform" role="form">
                    <div class="form-group">
                        <label for="squarenorthsouth">Square North-South:</label>
                        <input class="form-control" type="number" id="squarenorthsouth" name="squarenorthsouth" />
                    </div>
                    <div class="form-group">
                        <label for="depth">Depth:</label><br>
                        <input class="form-control" type="number" id="depth" name="depth" />
                    </div>
                    <div class="form-group">
                        <label for="squareeastwest">Square East-West:</label><br>
                        <input class="form-control" type="number" id="squareeastwest" name="squareeastwest" />
                    </div>

                    <div class="form-group">
                        <label for="westtohead">West to Head:</label><br>
                        <input class="form-control" type="number" id="westtohead" name="westtohead" />
                    </div>

                    <div class="form-group">
                        <label for="westtofeet">West to Feet:</label><br>
                        <input class="form-control" type="number" id="westtofeet" name="westtofeet" />
                    </div>

                    <div class="form-group">
                        <label for="southtofeet">South to Feet:</label><br>
                        <input class="form-control" type="number" id="southtofeet" name="southtofeet" />
                    </div>

                    <div class="form-group">
                        <label for="fieldbookexcavationyear">Field Book Excavation Year:</label><br>
                        <input class="form-control" type="number" id="fieldbookexcavationyear" name="fieldbookexcavationyear" />
                    </div>

                    <div class="form-group">
                        <label for="eastwest_E">East-West E:</label><br>
                        <input class="form-control" type="number" id="eastwest_E" name="eastwest_E" />
                    </div>

                    <div class="form-group">
                        <label for="eastwest_W">East-West W:</label><br>
                        <input class="form-control" type="number" id="eastwest_W" name="eastwest_W" />
                    </div>

                    <div class="form-group">
                        <label for="adultsubadult_A">Adult-Subadult A:</label><br>
                        <input class="form-control" type="number" id="adultsubadult_A" name="adultsubadult_A" />
                    </div>

                    <div class="form-group">
                        <label for="adultsubadult_C">Adult-Subadult C:</label><br>
                        <input class="form-control" type="number" id="adultsubadult_C" name="adultsubadult_C" />
                    </div>

                    <div class="form-group">
                        <label for="samplescollected_false">Samples Collected (False):</label><br>
                        <input class="form-control" type="number" id="samplescollected_false" name="samplescollected_false" />
                    </div>

                    <div class="form-group">
                        <label for="samplescollected_true">Samples Collected (True):</label><br>
                        <input class="form-control" type="number" id="samplescollected_true" name="samplescollected_true" />
                    </div>

                    <div class="form-group">
                        <label for="samplescollected_unknown">Samples Collected (Unknown):</label><br>
                        <input class="form-control" type="number" id="samplescollected_unknown" name="samplescollected_unknown" />
                    </div>

                    <div class="form-group">
                        <label for="area_NE">Area NE:</label><br>
                        <input class="form-control" type="number" id="area_NE" name="area_NE" />
                    </div>

                    <div class="form-group">
                        <label for="area_NNW">Area NNW:</label><br>
                        <input class="form-control" type="number" id="area_NNW" name="area_NNW" />
                    </div>


                    <div class="form-group">
                        <label for="area_NW">Area NW:</label><br>
                        <input class="form-control" type="number" id="area_NW" name="area_NW" />
                    </div>

                    <div class="form-group">
                        <label for="area_SE">Area SE:</label><br>
                        <input class="form-control" type="number" id="area_SE" name="area_SE" />
                    </div>

                    <div class="form-group">
                        <label for="area_SW">Area SW:</label><br>
                        <input class="form-control" type="number" id="area_SW" name="area_SW" />
                    </div>

                    
                    <input hidden type="number" id="const" name="const" value="1" />
                    <br>
                    <br>
                    <input type="button" class="btn btn-primary" id="postSubmit" value="Calculate" onclick="submitForm()" />

                </form>
                <br />
                <h4>API RESULT: </h4>
                <h3 id="resultParagraph"></h3>
            </div>
        </div>
    </div>


</div>

<!--values key-->
<aside class="align-right">
    <h6>Burial Wrapping Key:</h6>
    <ul>
        <li>W: Full or nearly full wrapping remains</li>
        <li>H: Partial wrapping remains</li>
        <li>B: Bones and/or only partial remnants of wrapping remains</li>
    </ul>
</aside>
<p id="resultParagraph"></p>

<script>
    function myFunction() {
        document.getElementById("demo").innerHTML = "Hello World";
    };
    function showAlert() {
        console.log("Button clicked!");
    };
    function submitForm() {
        // Get form elements
        const squarenorthsouth = parseInt(document.getElementById('squarenorthsouth').value);
        const depth = parseInt(document.getElementById('depth').value);
        const squareeastwest = parseInt(document.getElementById('squareeastwest').value);
        const westtohead = parseInt(document.getElementById('westtohead').value);
        const westtofeet = parseInt(document.getElementById('westtofeet').value);
        const southtofeet = parseInt(document.getElementById('southtofeet').value);
        const fieldbookexcavationyear = parseInt(document.getElementById('fieldbookexcavationyear').value);
        const eastwest_E = parseInt(document.getElementById('eastwest_E').value);
        const eastwest_W = parseInt(document.getElementById('eastwest_W').value);
        const adultsubadult_A = parseInt(document.getElementById('adultsubadult_A').value);
        const adultsubadult_C = parseInt(document.getElementById('adultsubadult_C').value);
        const samplescollected_false = parseInt(document.getElementById('samplescollected_false').value);
        const samplescollected_true = parseInt(document.getElementById('samplescollected_true').value);
        const samplescollected_unknown = parseInt(document.getElementById('samplescollected_unknown').value);
        const area_NE = parseInt(document.getElementById('area_NE').value);
        const area_NNW = parseInt(document.getElementById('area_NNW').value);
        const area_NW = parseInt(document.getElementById('area_NW').value);
        const area_SE = parseInt(document.getElementById('area_SE').value);
        const area_SW = parseInt(document.getElementById('area_SW').value);
        const consts = parseInt(document.getElementById('const').value);


        // Create data object
        const data = {
            squarenorthsouth,
            depth,
            squareeastwest,
            westtohead,
            westtofeet,
            southtofeet,
            fieldbookexcavationyear,
            eastwest_E,
            eastwest_W,
            adultsubadult_A,
            adultsubadult_C,
            samplescollected_false,
            samplescollected_true,
            samplescollected_unknown,
            area_NE,
            area_NNW,
            area_NW,
            area_SE,
            area_SW,
            consts
        };

        // Send POST request
        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        var raw = JSON.stringify(data);

        var requestOptions = {
            method: 'POST',
            headers: myHeaders,
            body: raw,
            redirect: 'follow'
        };

        fetch("/predict", requestOptions)
            .then(response => response.text())
            .then(result => {
                // Get reference to <p> tag
                const jsonObject = JSON.parse(result);
                // Get the value of the "predictedValue" key
                const predictedValue = jsonObject.predictedValue;
                // Get reference to <p> tag
                const resultParagraph = document.getElementById('resultParagraph');
                // Update text content of <p> tag with the extracted value
                resultParagraph.textContent = predictedValue;
            })
            .catch(error => console.log('error', error));
    }
</script>

