@{
    ViewData["Title"] = "Wrap Prediction";
}

<div class="text-center">
    <h1 class="display-4">Wrap Prediction Tool</h1>
    <br />
    <br />
    <h4>Enter in the following information to have a predicted wrapping returned.</h4>
    <br /><br />
    <p>Enter the following known fields:</p>

    <!--form for the user to enter in information to be fed to the API-->
    <form>
        <lable>Lable1</lable>
        <input />
    </form>
</div>

<!--values key-->
<aside class="align-right">
    <h6>Burial Wrapping Key:</h6>
    <ul>
        <li>W: Full or nearly full wrapping remains</li>
        <li>H: Partial wrapping remains</li>
        <li>B: Bones and/or only partial remnants of wrapping remains</li>
    </ul>
</aside>

