@{
    ViewData["Title"] = "Burial Age over Time";
}
<div class="text-center">
<h2 class="display-4">Burial Age over Time</h2>
</div>

<!--Unsupervised model and explaination-->
<div class="text-center">
    <h3>What can we learn from the Age at Death across time?</h3>
    <br />
    <br />
    <h5>Below we can see two different graphs. Both give us an insight into how burials have changed over time by the age the mummies died.</h5>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h3>Age at Death Clustering Map</h3>
            <img src="~/lib/img/heatmap.png" width="300" height="400" alt="Age at Death Clustering Map"/>
            <p>The image above shows the Age at Death (Adult, Child, Infant) Clustering Map.</p>
        </div>
        <div class="col">
            <h3>Age at Death and Depth Heatmap</h3>
            <img src="~/lib/img/heatmap.png" width="300" height="400" alt="Age at Death and Depth Heatmap"/>
            <p>The heatmap above shows Age at Death and Depth (the larger the depth, the older the mummy).</p>
        </div>
    </div>
    <div class="row">
        <p>Both of these graphs provide some insight into how Age at Death has changed over time.</p>
        <p>Between the depths of 1.27 and 0.68 there are significantly more Children burried than any other time before.</p>
        <p></p>
    </div>
</div>



